.anim-preview img {
  background: url(../app/imgs/opacity.png) repeat;
}

.frame-image-container {
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 3px;

  width: 64px;
  height: 64px;

}

.frame-image {
  background: url(../app/imgs/opacity.png) repeat;
}
