.please-drag-here {
  height: 100%;

  display: flex;
  justify-content: center; /* 3 */
  align-items: center; /* 4 */
}

.anim-preview {
  height: 100%;
  overflow: scroll;
}

.preview-area img {
  background: url(./imgs/opacity.png) repeat;
}

.frame-image-container {

  width: 64px;
  height: 64px;

  border: 3px solid rgba(0, 0, 0, 0);

  display: inline-flex; /* 2 */
  justify-content: center; /* 3 */
  align-items: center; /* 4 */
}

.frame-image-container.active {
  border: 3px solid yellowgreen;
}

.frame-image {
  background: url(./imgs/opacity.png) repeat;
}


.mod-zoom-select {
  zoom: 0.5;
}