.app-component {
  display: flex;
  height: calc(100% - 24px);
}

.mod-setting {
  width: 350px;
  height: 100%;
}

.mod-preview {
  width: calc(100% - 350px);
  height: 100%;
}

.mod-statusbar {
  height: 24px;
}