.app-component {
  display: flex;
  height: calc(100% - 24px);
}

.mod-setting {
  width: 350px;
  height: 100%;
  overflow: auto;
}

.mod-preview {
  width: calc(100% - 350px);
  height: 100%;
}

.mod-statusbar {
  height: 24px;
  line-height: 24px;
  text-align: right;
}

.mod-statusbar a {
  color: #fff;
  display: inline-block;
  padding: 0 0.5em;
  min-width: 24px;
  text-align: center;
}

.mod-statusbar a:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
}