.drop-area {
  cursor: default;
  -webkit-user-select: none;
}

.image-drop-area {
  width: 100%;
  height: 50%;
}

.drop-empty {
}

.frame-image {
  background: url(../app/imgs/opacity.png) repeat;
}