html, body {
  height: 100%
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
  font-size: 0.8rem;

  user-select: none;
  -webkit-user-select: none;
}

img, canvas {
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

.center-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* 3 */
  align-items: center; /* 4 */
}

/* アクセス解析用のiframe要素のレイアウト */
.tracking-ga {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  visibility: hidden;
}

/* dialogの見た目 */
dialog {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 0;
  top: calc(50% - 50px);
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center; /* 3 */
  align-items: center; /* 4 */
  border-radius: 8px;
}