# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# temporary
tmpDarwin
tmpWin32

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.build_date

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#
tmp-release*/
animation-image-generator*
anim-image-gen-*
アニメ画像に変換する君*
animation-image-converter*
.idea
node_modules
.DS_Store
npm-debug.log
AnimationImageConverter*
!product/src/assets/*.js
product/src/*.js
windows-store
*.bat
win-cer
