<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <!-- ホントは a 要素を使うべきだが、ドラッグできる不都合があったので span 要素で回避。href 属性はご愛嬌で・・・ -->
      <a class="nav-link active" href="#tab1" data-toggle="tab" draggable="false">{{
        localeData.PROP_tabAnim
      }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tab2" data-toggle="tab" draggable="false">{{
        localeData.PROP_tabQuality
      }}</a>
    </li>
  </ul>

  <div id="myTabContent" class="tab-content px-2 mt-1">
    <!-- タブ：アニメーション設定 -->
    <div class="tab-pane active p-2" id="tab1">
      <div class="form-group row">
        <label class="col-sm-6 form-control-label"
          >{{ localeData.PROP_tabAnimFps }}<br />(FPS)</label
        >
        <div class="col-sm-6">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="animationOptionData.fps"
            min="5"
            max="20"
            data-toggle="tooltip"
            data-placement="right"
            title="{{ localeData.PROP_tabAnimFpsTooltip }}"
            *ngIf="animationOptionData.preset === PresetType.LINE"
            (blur)="avoidBlankFpsNum()"
          />
          <input
            type="number"
            class="form-control"
            [(ngModel)]="animationOptionData.fps"
            min="1"
            max="60"
            *ngIf="animationOptionData.preset === PresetType.WEB"
            (blur)="avoidBlankFpsNum()"
          />
        </div>
      </div>

      <div
        class="form-group row"
        *ngIf="animationOptionData.preset === PresetType.WEB"
      >
        <label class="col-sm-6 form-control-label">{{
          localeData.PROP_tabAnimLoop
        }}</label>
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="animationOptionData.noLoop" />
              {{ localeData.PROP_tabAnimLoopInitiny }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="animationOptionData.noLoop === false">
        <label class="col-sm-6 form-control-label">{{
          localeData.PROP_tabAnimLoopNum
        }}</label>
        <div class="col-sm-6">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="animationOptionData.loop"
            min="1"
            max="4"
            data-toggle="tooltip"
            data-placement="right"
            title="{{ localeData.PROP_tabAnimLoopTooltip }}"
            *ngIf="animationOptionData.preset === PresetType.LINE"
            (blur)="avoidBlankLoopNum()"
          />
          <input
            type="number"
            class="form-control"
            [(ngModel)]="animationOptionData.loop"
            min="1"
            *ngIf="animationOptionData.preset === PresetType.WEB"
            (blur)="avoidBlankLoopNum()"
          />
        </div>
      </div>
    </div>
    <!-- タブ：画質設定 -->
    <div class="tab-pane p-2" id="tab2">
      <!-- APNGファイル出力 -->
      <div
        class="checkbox"
        *ngIf="animationOptionData.preset === PresetType.WEB"
      >
        <label
          data-toggle="tooltip"
          data-placement="right"
          title="{{ localeData.PROP_tabQualityHApngTooltip }}"
        >
          <input
            type="checkbox"
            [(ngModel)]="animationOptionData.enabledExportApng"
          />
          {{ localeData.PROP_tabQualityHApng }}
        </label>
      </div>

      <div
        *ngIf="animationOptionData.enabledExportApng === true"
        class="card card-block p-4 mb-4"
      >
        <!-- 圧縮方法 -->
        <div class="checkbox d-flex align-items-start">
          <label
            class="d-flex align-items-center"
            data-toggle="tooltip"
            data-placement="right"
            title="{{ localeData.PROP_tabQualityApngOptTooltip }}"
          >
            <input
              type="checkbox"
              class="mr-1"
              [(ngModel)]="animationOptionData.enabledPngCompress"
            />
            {{ localeData.PROP_tabQualityApngOpt }}
          </label>
          <button (click)="showTooltip()" class="ml-2 optimise-tooltip">
            <i class="optimise-tooltip_inner fa fa-question-circle"></i>
          </button>
        </div>

        <!-- 圧縮方式 -->
        <h6 class="mt-2">{{ localeData.PROP_tabQualityOptWay }}</h6>
        <div class="radio">
          <div class="form-check">
            <input
              class="form-check-input"
              name="radio-stacked"
              type="radio"
              id="radio-zopfli"
              data-html="true"
              (click)="animationOptionData.compression = CompressionType.zopfli"
              [checked]="
                animationOptionData.compression === CompressionType.zopfli
              "
            />
            <label
              class="form-check-label"
              for="radio-zopfli"
              data-toggle="tooltip"
              data-html="true"
              data-placement="right"
              title="{{ localeData.PROP_tabQualityOptWayZopfli }}"
            >
              zopfli
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              name="radio-stacked"
              type="radio"
              id="radio-7zip"
              (click)="animationOptionData.compression = CompressionType.zip7"
              [checked]="
                animationOptionData.compression === CompressionType.zip7
              "
            />
            <label
              class="form-check-label"
              for="radio-7zip"
              data-toggle="tooltip"
              data-html="true"
              data-placement="right"
              title="{{ localeData.PROP_tabQualityOptWay7zip }}"
            >
              7zip
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              name="radio-stacked"
              type="radio"
              id="radio-zlib"
              (click)="animationOptionData.compression = CompressionType.zlib"
              [checked]="
                animationOptionData.compression === CompressionType.zlib
              "
            />
            <label
              class="form-check-label"
              for="radio-zlib"
              data-toggle="tooltip"
              data-placement="right"
              title="{{ localeData.PROP_tabQualityOptWayzlib }}"
            >
              zlib
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="animationOptionData.preset === PresetType.WEB">
        <!-- WebPファイル出力 -->
        <div class="checkbox">
          <label
            data-toggle="tooltip"
            data-placement="right"
            title="{{ localeData.PROP_tabQualityHWebpTooltip }}"
          >
            <input
              type="checkbox"
              [(ngModel)]="animationOptionData.enabledExportWebp"
            />
            {{ localeData.PROP_tabQualityHWebp }}
          </label>
        </div>

        <!-- 容量最適化 -->
        <div
          *ngIf="animationOptionData.enabledExportWebp === true"
          class="card card-block p-4 mb-4"
        >
          <div class="checkbox">
            <label
              data-toggle="tooltip"
              data-placement="right"
              title="{{ localeData.PROP_tabQualityApngOptTooltip }}"
            >
              <input
                type="checkbox"
                [(ngModel)]="animationOptionData.enabledWebpCompress"
              />
              {{ localeData.PROP_tabQualityApngOpt }}
            </label>
          </div>
        </div>

        <!-- HTMLファイル出力 -->
        <div class="checkbox">
          <label
            data-toggle="tooltip"
            data-placement="right"
            title="{{ localeData.PROP_tabQualityHHtmlTooltip }}"
          >
            <input
              type="checkbox"
              [(ngModel)]="animationOptionData.enabledExportHtml"
            />
            {{ localeData.PROP_tabQualityHHtml }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
