<div
  (click)="hideTooltip($event)"
  class="fixed-top tooltipWrapper"
  [ngClass]="{ active: showingTooltip !== null }"
>
  <div
    class="tooltip optimise-tip"
    #element
    [ngClass]="{ active: isShowingOptimiseTooltip }"
  >
    <h3 class="h5">容量最適化とは...？</h3>
    <p>
      ファイルを圧縮し容量を最適化します。圧縮方式により処理時間や容量が変わります。
    </p>
    <ul>
      <li>zopfli...高い圧縮率のかわり非常に長い処理時間</li>
      <li>7zip...そこそこの圧縮率とそれなりの処理時間</li>
      <li>7lib...圧縮率は低いが処理時間が短い</li>
    </ul>
  </div>
  <div
    class="tooltip line-stamp-alert-tip"
    #element
    [ngClass]="{ active: isShowingLineStampAlertTooltip }"
  >
    <h3 class="h5">以下のエラーがあります</h3>
    <p>
      ファイルを圧縮し容量を最適化します。圧縮方式により処理時間や容量が変わります。
    </p>
    <ul>
      <li>再生時間が規定を超えています</li>
      <li>サイズが不一致です</li>
    </ul>
  </div>
</div>
