<div
  (click)="hideTooltip($event)"
  class="fixed-top tooltipWrapper"
  [ngClass]="{ active: showingTooltip !== null }"
>
  <div
    class="tooltip optimise-tip"
    #element
    [ngClass]="{ active: isShowingOptimiseTooltip }"
  >
    <h3 class="h6 font-weight-bold">容量最適化とは...？</h3>
    <p>
      ファイルを圧縮し容量を最適化します。圧縮方式により処理時間や容量が変わります。
    </p>
    <ul>
      <li>zopfli...高い圧縮率のかわり非常に長い処理時間</li>
      <li>7zip...そこそこの圧縮率とそれなりの処理時間</li>
      <li>7lib...圧縮率は低いが処理時間が短い</li>
    </ul>
  </div>
  <div
    class="tooltip line-stamp-alert-tip"
    #element
    [ngClass]="{ active: isShowingLineStampAlertTooltip }"
    [ngStyle]="{
      'left.px': getLineStampAlertButtonPos.x,
      'top.px': getLineStampAlertButtonPos.y
    }"
  >
    <h3 class="h6 font-weight-bold">
      以下の<span class="text-danger">エラー</span>があります
    </h3>
    <ul>
      <li *ngFor="let message of validationErrorsMessage">
        {{ message }}
      </li>
    </ul>
  </div>
</div>
