.please-drag-here {
  height: 100%;

  display: flex;
  justify-content: center; /* 3 */
  align-items: center; /* 4 */
}

.anim-preview {
  height: 100%;
  overflow: auto;
}

.preview-area img {
  background: url(../../imgs/opacity.png) repeat;
}

.label {
  font-size: 90%;
}

.frame-image-container {
  width: 64px;
  height: 64px;

  border: 2px solid rgba(0, 0, 0, 0);

  display: inline-flex; /* 2 */
  justify-content: center; /* 3 */
  align-items: center; /* 4 */

  cursor: pointer;
}

.frame-image-container:hover {
  border: 2px solid lightgray;
}

.frame-image-container.active {
  border: 2px solid #0275d8;
  cursor: default;
}

.frame-image {
  background: url(../../imgs/opacity.png) repeat;

  max-width: 100%;
  max-height: 100%;
}

.mod-zoom-select {
  width: 100px;
  height: 31px;
}

.button-group {
  button {
    width: 40px;
  }
}

// バッジが中央揃えに見えないための対策
.badge {
  vertical-align: text-bottom;
}

.error-tooltip {
  width: 22px;
  height: 22px;
  appearance: none;
  display: block;
  position: relative;
  background: none;
  border: none;
  border-radius: 50%;
  &:focus-visible {
    outline-offset: 2px;
  }
  &_inner {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 12px;
    line-height: 24px;
    // ウィンドウリサイズで！がズレることがあるのでレンダリングモードを変更させる
    will-change: transform;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      top: 2px;
      left: 2px;
    }
  }
}
