.app-component {
  display: flex;
  height: calc(100% - 24px);
}

.isDragOver {
  cursor: copy;
}

.mod-setting {
  width: 300px;
  height: 100%;
  overflow: auto;
  .row{
    margin:0px;
  }
}

.mod-preview {
  width: calc(100% - 300px);
  height: 100%;
}

.mod-statusbar {
  height: 24px;
  line-height: 24px;
  text-align: right;

  cursor: default;
}
.select-label{
  font-size:95%;
}

.mod-statusbar a {
  color: #fff;
  display: inline-block;
  padding: 0 0.5em;
  min-width: 24px;
  text-align: center;
}

.mod-statusbar a:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
}
